@use "../color" as color;

@mixin bg-hover($c1, $c2: none, $d: 0.3s) {
  @if $c2 == none {
    &:hover {
      background-color: nth($c1, 1);
      @if length($c1) !=1 {
        color: nth($c1, 2);
      }
    }
  } @else {
    background-color: nth($c1, 1);
    @if length($c1) !=1 {
      color: nth($c1, 2);
    }
    &:hover {
      background-color: nth($c2, 1);
      @if length($c2) !=1 {
        color: nth($c2, 2);
      }
    }
  }
  transition: all $d;
}
