@use "../color" as color;

@mixin typography($ct: light, $bg: "") {
  @if $ct == dark {
    @if $bg!= "" {
      background-color: $bg;
    } @else {
      background-color: color.$primary;
    }

    color: color.$textLight;
  }
  @if $ct == light {
    @if $bg!= "" {
      background-color: $bg;
    }
    color: color.$text;
  }
}

@mixin text-decor($args...) {
  @each $arg in $args {
    @if $arg == b {
      font-weight: 600;
    }
    @if $arg== u {
      text-decoration: underline;
    }
    @if $arg==i {
      font-style: italic;
    }
    @if $arg==upper {
      text-transform: uppercase;
    }
    @if $arg==cap {
      text-transform: capitalize;
    }
    @if $arg==lower {
      text-transform: lower;
    }
  }
}
